# **Covid data analysis**

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('/content/drive/MyDrive/csv/4. covid_19_data.csv')

In [3]:
data

          Date     State          Region  Confirmed  Deaths  Recovered
0    4/29/2020       NaN     Afghanistan       1939      60        252
1    4/29/2020       NaN         Albania        766      30        455
2    4/29/2020       NaN         Algeria       3848     444       1702
3    4/29/2020       NaN         Andorra        743      42        423
4    4/29/2020       NaN          Angola         27       2          7
..         ...       ...             ...        ...     ...        ...
316  4/29/2020   Wyoming              US        545       7          0
317  4/29/2020  Xinjiang  Mainland China         76       3         73
318  4/29/2020     Yukon          Canada         11       0          0
319  4/29/2020    Yunnan  Mainland China        185       2        181
320  4/29/2020  Zhejiang  Mainland China       1268       1       1263

[321 rows x 6 columns]

In [8]:
#null values in data
data.isnull().sum()

Date           0
State        181
Region         0
Confirmed      0
Deaths         0
Recovered      0
dtype: int64

In [9]:
#cleaning the data
data.fillna(0,inplace=True)

In [10]:
data.isnull().sum()

Date         0
State        0
Region       0
Confirmed    0
Deaths       0
Recovered    0
dtype: int64

**Q. 1) Show the number of Confirmed, Deaths and Recovered cases in each Region.**

In [13]:
data.groupby('Region')['Confirmed','Recovered'].sum()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                    Confirmed  Recovered
Region
Afghanistan              1939        252
Albania                   766        455
Algeria                  3848       1702
Andorra                   743        423
Angola                     27          7
...                       ...        ...
West Bank and Gaza        344         71
Western Sahara              6          5
Yemen                       6          1
Zambia                     97         54
Zimbabwe                   32          5

[187 rows x 2 columns]

**Q. 2) Remove all the records where the Confirmed Cases is Less Than 10.**

In [40]:
data[~(data.Confirmed<10)]

          Date     State          Region  Confirmed  Deaths  Recovered
0    4/29/2020         0     Afghanistan       1939      60        252
1    4/29/2020         0         Albania        766      30        455
2    4/29/2020         0         Algeria       3848     444       1702
3    4/29/2020         0         Andorra        743      42        423
4    4/29/2020         0          Angola         27       2          7
..         ...       ...             ...        ...     ...        ...
316  4/29/2020   Wyoming              US        545       7          0
317  4/29/2020  Xinjiang  Mainland China         76       3         73
318  4/29/2020     Yukon          Canada         11       0          0
319  4/29/2020    Yunnan  Mainland China        185       2        181
320  4/29/2020  Zhejiang  Mainland China       1268       1       1263

[304 rows x 6 columns]

In [15]:
data[(data['Confirmed']>10)]

          Date     State          Region  Confirmed  Deaths  Recovered
0    4/29/2020         0     Afghanistan       1939      60        252
1    4/29/2020         0         Albania        766      30        455
2    4/29/2020         0         Algeria       3848     444       1702
3    4/29/2020         0         Andorra        743      42        423
4    4/29/2020         0          Angola         27       2          7
..         ...       ...             ...        ...     ...        ...
316  4/29/2020   Wyoming              US        545       7          0
317  4/29/2020  Xinjiang  Mainland China         76       3         73
318  4/29/2020     Yukon          Canada         11       0          0
319  4/29/2020    Yunnan  Mainland China        185       2        181
320  4/29/2020  Zhejiang  Mainland China       1268       1       1263

[301 rows x 6 columns]

**Q. 3) In which Region, maximum number of Confirmed cases were recorded ?**

In [23]:
data.groupby('Region')['Confirmed'].sum().sort_values(ascending=False)[:1]

Region
US    1039909
Name: Confirmed, dtype: int64

**Q. 4) In which Region, minimum number of Deaths cases were recorded ?**

In [24]:
data.groupby('Region')['Deaths'].sum().sort_values(ascending=True)[:1]

Region
Laos    0
Name: Deaths, dtype: int64

**Q. 5) How many Confirmed, Deaths & Recovered cases were reported from India till 29 April 2020 ?**

In [28]:
data[(data['Date']<='4/29/2020')&(data['Region']=='India')]

         Date State Region  Confirmed  Deaths  Recovered
74  4/29/2020     0  India      33062    1079       8437

**Q. 6-A ) Sort the entire data wrt No. of Confirmed cases in ascending order.**

In [35]:
data.sort_values('Confirmed',ascending=True)

,Date,State,Region,Confirmed,Deaths,Recovered
285,4/29/2020,Recovered,US,0,0,120720
284,4/29/2020,Recovered,Canada,0,0,20327
203,4/29/2020,Diamond Princess cruise ship,Canada,0,1,0
305,4/29/2020,Tibet,Mainland China,1,0,1
289,4/29/2020,Saint Pierre and Miquelon,France,1,0,0
...,...,...,...,...,...,...
57,4/29/2020,0,France,165093,24087,48228
168,4/29/2020,0,UK,165221,26097,0
80,4/29/2020,0,Italy,203591,27682,71252
153,4/29/2020,0,Spain,236899,24275,132929
265,4/29/2020,New York,US,299691,23477,0

**Q. 6-B ) Sort the entire data wrt No. of Recovered cases in descending order.**

In [34]:
data.sort_values('Recovered',ascending=False)

          Date           State   Region  Confirmed  Deaths  Recovered
153  4/29/2020               0    Spain     236899   24275     132929
285  4/29/2020       Recovered       US          0       0     120720
61   4/29/2020               0  Germany     161539    6467     120400
76   4/29/2020               0     Iran      93657    5957      73791
80   4/29/2020               0    Italy     203591   27682      71252
..         ...             ...      ...        ...     ...        ...
248  4/29/2020        Maryland       US      20849    1078          0
246  4/29/2020        Manitoba   Canada        275       6          0
243  4/29/2020       Louisiana       US      27660    1845          0
241  4/29/2020        Kentucky       US       4537     234          0
215  4/29/2020  Grand Princess   Canada         13       0          0

[321 rows x 6 columns]